div{
    color: rgb(255, 255, 255);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


/* .right-column {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    justify-content: flex-end;
} */

.right-column{
  position: relative;
  left: 50%;
  justify-content: center;
 
}

nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }


  form{
    width: 30%;
  
  }
  
  input{
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border-radius: 7px;
  }
  
  input#message{
    padding-bottom: 35px;
  }

  
  
  